body
{
	background-image:url("background/monster.jpg"); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	position: absolute;
	text-align: center;color: white;
}
		
#pic1
{
	width: 80%;
	height: 400px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.topnav
{
	overflow: hidden;
	background-color: black; 

}
.topnav a
{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 22px;
}
.topnav a:hover
{
	background-color: grey;
	color:white;
}


.left
{
	width: 15%;
	float: left;
}
.body
{
	width: 68%;
	float: left;
	text-align: left;
	
	padding: 5px;
}
.right
{
	width: 15%;
	float: left;
}
.footer
{
	background-color: black;
	text-align: center;
	clear: both;
	padding: 3px;
	margin: -8px;
	position: bottom;
	right: 0;
	bottom: 0;
	left: 0;	
}
.cat {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.cat:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.sidecontainer
{
	position: relative;
    text-align: center;
}
.textimg
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: black;
    font-weight: bold;
    
}
.textimg a
{
	text-decoration: none;
	transition: 0.3s;
}
.textimg a:hover
{
	background-color: white;
}
@media only screen and (max-width: 800px)
{
	.body
	{
		width: 100%;
	}
	.left
	{
		width: 30%;
		float: left;
		
	}
	.sidecontainer
	{
		display: block;
		float: left;
		margin-left:200px; 
		margin-top: -240px;
		width: 400px;
		
	}
	.right
	{
		width: 30%;
		float: left;
	}
	.bar
	{
		display: none;
	}
	.textimg
	{
		color: white;
	}
	.textimg a:hover
	{
		background-color: grey;
	}

}